html * {
  cursor: url(https://www.picgifs.com/graphics/q/question-marks/graphics-question-marks-331528.gif), none;
    background-image: url('http://www.gaasch.net/format/format.gif');
    background-repeat: repeat;
}
